# OS junk
.DS_Store

# IntelliJ / JetBrains
.idea/
*.iml
out/
shelf/
workspace.xml
httpRequests/
dataSources/
dataSources.local.xml

# Gradle
.gradle/
build/

# Logs
*.log

# Spring Boot
target/

# Mobile app (Expo / React Native) 
/mobile-app/.expo/
/mobile-app/node_modules/
