spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/rydar_ci
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
