spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/rydar_dev
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
